.text-align-top {
    vertical-align: top;
}
.panel {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 0px;
}

.form-header {
    margin: 10px 0px 15px;
}

.list-table {
    padding-bottom: 10px;
}

table.entry-form > tbody > tr > th, 
table.entry-form > tbody > tr > td {
    padding: 0px 8px 8px 0px;
    line-height: 1.42857;
    vertical-align: top;
}

table.entry-form > tbody > tr > td > label {
    padding-right: 5px;
}

table.view-form > tbody > tr > th, 
table.view-form > tbody > tr > td,
table.view-form > tbody > tr > td > label {
    padding: 0px 5px 2px 0px;
    line-height: 1.42857;
    vertical-align: top;
    font-weight: normal !important;
}

table.entry-form > tbody > tr > th,
table.view-form > tbody > tr > th {
    font-weight: bold;
    padding-left: 10px;
    min-width: 11em;
}

table.entry-form > tbody > tr:first-child > th,
table.entry-form > tbody > tr:first-child > td,
table.view-form > tbody > tr:first-child > th,
table.view-form > tbody > tr:first-child > td {
    padding-top: 10px;
}

.button-button-panel {
    clear: both;
    text-align: left;
    vertical-align: middle;
    padding: 10px !important;
    border-top: 1px dashed gray;
}

.button-button-panel input[type="submit"] {
    margin-right: 10px !important;
}

.control-table {
    float: left;
    width: 75%;
}

.profile-picture {
    border: 1px solid #D0E9C6;
    width: 200px;
    height: 200px;
    float: right;
    margin: 15px;
    padding: 2px;
}

.picture-box {
    border: 1px solid #D0E9C6;
    width: 160px;
    height: 160px;
    float: left;
    margin: 15px;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
}

.profile-detail {
    clear: both;
    margin: 10px;
    text-align: justify;
}

.profile-detail-picture {
    background-position: top left; 
    background-repeat: no-repeat;
    margin: 10px;
    width: 174px;
    height: 174px;
    float: left;
    border: 1px solid grey;
}

.profile-detail-title {
    margin: 5px 10px 10px;
    font-weight: bold;
}

.confirmation-message {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    line-height: 1.2em;
    font-style: italic;
    margin: 50px auto;
}

.error-message {
    color: red;
}
.mandatory-text {
    color: green;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}