.text-align-top {
    vertical-align: top;
}
.panel {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 0px;
}

.form-header {
    margin: 10px 0px 15px;
}

.list-table {
    padding-bottom: 10px;
}

table.entry-form > tbody > tr > th, 
table.entry-form > tbody > tr > td {
    padding: 0px 8px 8px 0px;
    line-height: 1.42857;
    vertical-align: top;
}

table.entry-form > tbody > tr > td > label {
    padding-right: 5px;
}

table.view-form > tbody > tr > th, 
table.view-form > tbody > tr > td,
table.view-form > tbody > tr > td > label {
    padding: 0px 5px 2px 0px;
    line-height: 1.42857;
    vertical-align: top;
    font-weight: normal !important;
}

table.entry-form > tbody > tr > th,
table.view-form > tbody > tr > th {
    font-weight: bold;
    padding-left: 10px;
}

table.entry-form > tbody > tr:first-child > th,
table.entry-form > tbody > tr:first-child > td,
table.view-form > tbody > tr:first-child > th,
table.view-form > tbody > tr:first-child > td {
    padding-top: 10px;
}

.button-button-panel {
    clear: both;
    text-align: left;
    vertical-align: middle;
    padding: 10px 0px !important;
    border-top: 1px dashed gray;
}

.control-table {
    float: left;
}
.profile-picture {
    border: 1px solid #D0E9C6;
    width: 200px;
    height: 200px;
    float: right;
    margin: 15px;
    padding: 2px;
}

.error-message {
    color: red;
}
.mandatory-text {
    color: green;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}